{{> header }}


<div class="row content">
		<div class="col-12 col-md-4 section-first">
			<div class="subscription-block text-center">
				<div class="primary-text">
					Your <span class="clr-bl bold">myHQ</span>
				</div>
				<div class="secondary-text txt-uppercase">
					Subscription
				</div>
				<div class="text">
					comes with the following
				</div>
			</div>

			<div class="row subscription-benifits">
				{{#subscriptionBenifits.length}}
					 {{#subscriptionBenifits}}
					 	 {{> subscriptionBenifit}}
					 {{/subscriptionBenifits}}
				 {{/subscriptionBenifits.length}}
			</div>
			<button type="button" class="btn btn-primary btn-pricing txt-uppercase">Explore Pricing</button>
		</div>
		<div class="col-12 col-md-8 section-second">
			<div id="carouselExampleIndicators" class="carousel slide animated bounce">
				<div class="carousel-indicators txt-uppercase bold">
					<div data-target="#carouselExampleIndicators" data-slide-to="0" class="carousel-tabs active">Workcafes</div>
					<div data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel-tabs">Coworking</div>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="../static/images/placeholder1.jpg" alt="">
						<div class="carousel-caption">
						    <div class="text">Reserve Exclusive Areas for Working</div>
							<div class="text">Use your redeemable credits for F&amp;B</div>
							<div class="text">Get a Guaranteed 15% discount</div>
  						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../static/images/placeholder2.jpg" alt="">
						<div class="carousel-caption">
						    <div class="text">Lorem Ipsum</div>
							<div class="text">Lorem Ipsum</div>
							<div class="text">Get a Guaranteed 15% discount</div>
  						</div>
					</div>
				</div>
				<div class="slide-btns">
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  				</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
	  				</a>
				</div>

			</div>
		</div>
	</div>


{{> footer }}
